/* Root Variables */
:root {
  --bg-color: black;
  --text-color: white;
  --border-color: white;
  --button-bg: none;
  --button-hover: rgba(51, 255, 51, 0.2);
}

/* Light Theme */
.light-mode {
  --bg-color: white;
  --text-color: black;
  --border-color: black;
  --button-bg: rgba(0, 0, 0, 0.1);
  --button-hover: rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: monospace;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Top Frame */
#top-frame {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--bg-color);
  border-bottom: 2px solid var(--border-color);
}

#location-time {
  flex: 1;
  text-align: left;
}

.button-container {
  flex: 2;
  display: flex;
  justify-content: space-between; /* spreads the groups */
  gap: 50px; /* spaces the buttons */
}

.button-group {
  display: flex;
  gap: 10px; /* Space between buttons in the same group */
}

button {
  background: var(--button-bg);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background: var(--button-hover);
}

/* Middle Art Area */
#art-area {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--border-color);
}

/* Console */
#console {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#console-text {
  display: flex;
  flex-direction: column; /* text goes from up to down*/
  flex-grow: 1;
  overflow-y: auto;
  color: var(--text-color); /* text visible */
  font-family: monospace;
  padding: 10px;
}

#player-input {
  width: 100%;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  font-family: monospace;
  padding: 5px;
  box-sizing: border-box; /* respects the margins */
  overflow: hidden; /* dont scroll on the bar itself */
}